/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-white antialiased;
  /* Fixes rubber-banding scroll on iOS */
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* iOS Safe Area Padding for Notch and Home Bar */
main {
  padding-top: env(safe-area-inset-top);
  padding-bottom: calc(env(safe-area-inset-bottom) + 80px);
}